# URL 
STAGING_URL=https://conduit-realworld-example-app.fly.dev

# Auth
CONDUIT_EMAIL=
CONDUIT_PASSWORD=

# API 
API_URL=https://conduit-realworld-example-app.fly.dev/api

# Environment
TEST_ENV=staging